.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: white;
}

.tiles-container {
  border: 4px dashed white;
  min-width: 202px;
  height: 80%;
}

.searchInput {
  height: 30px;
  margin-bottom: 10px;
  width: 200px;
}

.formGroup {
  display: inline-block;
}

/deep/ .od-scroll-container {
  margin: 0 auto;
}