.outer-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

.inner-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 70%;
}

.searchInput {
  height: 30px;
  margin-bottom: 10px;
  width: 200px;
}

.formGroup {
  display: inline-block;
}

.border-wrapper {
  border: 4px dashed white;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

/deep/ .od-scroll-container {
  margin: 0 auto;
}